@font-face {
  font-family: "FKGrotesk";
  src: url("./fonts/FKGrotesk-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "FKGrotesk";
  src: url("./fonts/FKGrotesk-Bold.ttf");
  font-weight: bold;
}

$mainfont: "FKGrotesk";
$danger: #fc2c03;

body,
html {
  font-family: $mainfont;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

div,
p,
span,
ul,
li,
textarea,
text,
input,
a {
  font-size: 14px;
}

a {
  text-decoration: none;
}
